# folders
.coverage_artifacts/
.coverage_contracts/
.nyc_output/
.openzeppelin/dev-*.json
.openzeppelin/.session
artifacts/
build/
coverage/
coverageEnv/
lib/
node_modules/

# files
.env
*.log
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
